# Chapter 3 : Built-In Data Structures, Functions, and Files

In [1]:
import numpy as np

## 3.1: Data Structures and Sequences

In [2]:
tup=(4,5,6)
tup

(4, 5, 6)

In [4]:
tup=4,5,6
tup

(4, 5, 6)

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup=tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [9]:
nested_tup[0]

(4, 5, 6)

In [10]:
nested_tup[1]

(7, 8)

In [11]:
tup=tuple(['foo',[1,2],True])
tup

('foo', [1, 2], True)

In [12]:
tup[1]

[1, 2]

In [13]:
tup[2]

True

In [14]:
#tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [17]:
(4,None,'Foo')+(6,0)+('bar',)

(4, None, 'Foo', 6, 0, 'bar')

In [19]:
a=(4,None,(5,6))+('bar',6,0)
a

(4, None, (5, 6), 'bar', 6, 0)

In [20]:
len(a)

6

In [21]:
a[2]

(5, 6)

In [22]:
('foo',67)*4

('foo', 67, 'foo', 67, 'foo', 67, 'foo', 67)

In [23]:
tup=(4,5,(5,))
tup

(4, 5, (5,))

In [25]:
a,b,c=tup
c

(5,)

In [27]:
tup=4,5,(5,6)
a,b,(c,d)=tup

In [28]:
a
b
c
d

4

5

5

6

In [29]:
tmp=a
a
tmp

4

4

In [30]:
a=b
a
b
tmp

5

5

4

In [31]:
a,b=1,2
b,a=a,b
a
b

2

1

In [32]:
seq=[(1,2,3),(4,5,6),(7,8,0)]

for a,b,c in seq:
    print(f"a={a},b={b},c={c}!")

a=1,b=2,c=3!
a=4,b=5,c=6!
a=7,b=8,c=0!

In [33]:
values=1,2,3,4,5
a,b,*rest=values
a
b
rest

1

2

[3, 4, 5]

In [34]:
values=1,2,3,4,5
a,b,*hello=values
a
b
hello

1

2

[3, 4, 5]

In [35]:
a,b,*_=values
a
b
_

1

2

[3, 4, 5]

In [37]:
a=[1,2,2,2,3,4,2]
a=(1,2,3,2,3,4,2)
a.count(2)

3

In [41]:
a_list=[2,3,4,None]
tup=("foo","bar",("h","e"),"baz")

In [42]:
a_list

[2, 3, 4, None]

In [43]:
b_list=list(tup)
b_list

['foo', 'bar', ('h', 'e'), 'baz']

In [44]:
b_list[2]

('h', 'e')

In [45]:
b_list[2]="peekaboo"
b_list

['foo', 'bar', 'peekaboo', 'baz']

In [46]:
gen=range(10)
gen

range(0, 10)

In [47]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
b_list.append("dwarf")

In [49]:
b_list

['foo', 'bar', 'peekaboo', 'baz', 'dwarf']

In [50]:
b_list.insert(1,"red")

In [51]:
b_list

['foo', 'red', 'bar', 'peekaboo', 'baz', 'dwarf']

In [52]:
b_list.pop(2)

'bar'

In [53]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [54]:
b_list.append("foo")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'foo']

In [55]:
b_list.remove("foo")
b_list

['red', 'peekaboo', 'baz', 'dwarf', 'foo']

In [56]:
"dwarf" in b_list

True

In [57]:
[3,None,"a"]+[1,2,True]

[3, None, 'a', 1, 2, True]

In [60]:
x=[4,None,"foo"]
x.extend([67,8,(2,3),True,[1,2,3]])
x

[4, None, 'foo', 67, 8, (2, 3), True, [1, 2, 3]]

In [63]:
list_of_lists=[[3,4],[3,4,5],(7,8)]

everything=[]

for chunk in list_of_lists:
    print(chunk)
    everything.extend(chunk)
    print(everything)

[3, 4]
[3, 4]
[3, 4, 5]
[3, 4, 3, 4, 5]
(7, 8)
[3, 4, 3, 4, 5, 7, 8]

In [65]:
a=[7,2,5,1,2]
a.sort()
a

[1, 2, 2, 5, 7]

In [69]:
b=["saw","hi","hello","bee"]
b.sort(key=len)
b

['hi', 'saw', 'bee', 'hello']

In [70]:
seq=[7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [71]:
seq[3:5]

[7, 5]

In [73]:
seq[3:5]=[6,3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [74]:
seq[:5]

[7, 2, 3, 6, 3]

In [75]:
seq[3:]

[6, 3, 6, 0, 1]

In [77]:
seq[-4:]

[3, 6, 0, 1]

In [78]:
seq[-6:-2]

[3, 6, 3, 6]

In [79]:
seq[::2]

[7, 3, 3, 0]

In [80]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [81]:
empty_dict={}
empty_dict

{}

In [82]:
type(empty_dict)

dict

In [83]:
d1={"a":"some value","b":[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [85]:
d1["a"]

'some value'

In [86]:
d1[7]="an integer"

In [87]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [88]:
d1[7]

'an integer'

In [89]:
"b" in d1

True

In [91]:
d1[5]="some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [92]:
d1["dummy"]="another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [93]:
del d1[5]

In [94]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [95]:
d1.pop("dummy")
d1

'another value'

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [97]:
d1.keys()
list(d1.keys())

dict_keys(['a', 'b', 7])

['a', 'b', 7]

In [98]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [99]:
d1.items()

dict_items([('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')])

In [100]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [101]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [102]:
d1.update({"b":"foo","c":12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}